<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Cache Sample</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="container">
    <div ng-controller="cacheSampleCtrl" style="padding:20px;">
        Key: <input type="text" ng-model="key"><br/>
        Value: <input type="text" ng-model="value"><br/>
        <button type="button" class="btn" ng-click="addToCache(key, value)">Add to cache</button>
        <br/>
        <br/>
        <input type="text" ng-model="keyToRead"><br/>
        <h3>Value from cache: {{readFromCache(keyToRead)}}</h3>
        <h3>Cache Stats: {{getCacheStats()}}</h3>
    </div>
</div>
<script src="lib/jquery.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.min.js"></script>
<script src="lib/underscore-1.4.4.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/cacheSampleCtrl.js"></script>
<script src="js/services/myCache.js"></script>
<script src="js/filters.js"></script>
<script src="lib/bootstrap.min.js"></script>

</body>
</html>